<nav>
    <div class="navbar">
        <div class="container container-nav">
            <div class="navbar__logo">
                <h1>Consultal</h1>
            </div>
            <input class="navbar__checkbox" type="checkbox"/>
            <div class="navbar__burger-lines">
                <span class="navbar__line line1"></span>
                <span class="navbar__line line2"></span>
                <span class="navbar__line line3"></span>
            </div>
            <ul class="navbar__items">
                <li class="navbar__item"><a class="navbar__link" href="#">Home</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#">Product</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#">Pricing</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>

</nav>