.container-nav {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: relative;
  background-color: var(--light-text-color)

}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);


  &__logo {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--dark-text-color);
  }

  &__checkbox {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    right: 20px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }

  &__burger-lines {
    height: 22px;
    width: 31px;
    position: absolute;
    right: 20px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg);
  }

  &__line {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--second-text-color);
  }

  &__checkbox:checked ~ &__burger-lines .line1 {
    width: 90%;
    transform: rotate(45deg);

  }

  &__checkbox:checked ~ &__burger-lines .line2 {
    transform: scaleY(0)

  }

  &__checkbox:checked ~ &__burger-lines .line3 {
    width: 90%;
    transform: rotate(-45deg);

  }

  &__items {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    padding-top: 55px;
    transform: translateX(-150%);
    text-align: center;
    transition: transform 0.5s ease-in-out;
    z-index: 5;
    background-color: #F6F6F6;
  }

  &__item {
    position:relative;
    &:first-child {
      margin-top: 80px;

    }

    &:not(:last-child) {
      margin-bottom: 30px;

    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 70%;
      height: 1px;
      background-color: #b9b9b9;
    }

  }

  &__link {
    color: var(--second-text-color);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
  }
}

.line1 {
  width: 50%;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  width: 75%;
  transition: transform 0.2s ease-in-out;
}

.line3 {
  width: 100%;
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.container-nav .navbar__checkbox:checked ~ .navbar__items {
  transform: translateY(0);
}